@model DoAn_LTW_Clothing.Models.HomeAdmin

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="d-flex align-items-center mb-4">
    <div class="bg-warning rounded-circle d-flex justify-content-center align-items-center me-3 " style="width: 50px; height: 50px; color: white; Background: #1f3bb3 !important" >
        <i class="fas fa-chart-line fa-lg "></i>
    </div>
    <div>
        <h4 class="mb-0 fw-bold">Thống kê tổng quan</h4>
        <small class="text-muted">Thông tin chung về hệ thống</small>
    </div>
</div>

<div class="row g-3 mb-4">
    <div class="col-md-3">
        <div class="card stats-card h-100">
            <div class="card-body">
                <h6 class="card-title text-muted">Tổng sản phẩm</h6>
                <div class="d-flex justify-content-between align-items-end">
                    <h2 class="text-warning fw-bold mb-0 "  style="color: #1f3bb3 !important;">@Model.totalProduct</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card stats-card h-100">
            <div class="card-body">
                <h6 class="card-title text-muted">Tổng danh mục</h6>
                <div class="d-flex justify-content-between align-items-end">
                    <h2 class="text-warning fw-bold mb-0" style="color: #1f3bb3 !important;">@Model.totalCategory</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card stats-card h-100">
            <div class="card-body">
                <h6 class="card-title text-muted">Tổng đơn hàng</h6>
                <div class="d-flex justify-content-between align-items-end">
                    <h2 class="text-warning fw-bold mb-0" style="color: #1f3bb3 !important;">@Model.totalOrder</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card stats-card h-100">
            <div class="card-body">
                <h6 class="card-title text-muted">Tổng người dùng</h6>
                <div class="d-flex justify-content-between align-items-end">
                    <h2 class="text-warning fw-bold mb-0" style="color: #1f3bb3 !important;">@Model.totalApuser</h2>
                </div>
            </div>
        </div>
    </div>
</div>

